/* color palette: https://coolors.co/214159-d1e5f0-facc75-758e4f-fbcbb2 */

$color-indigo: rgba(33, 65, 89, 1);
$color-indigo-light: rgba(39, 76, 104, 1);
$color-beau: rgba(209, 229, 240, 1);
$color-crayola: rgba(250, 204, 117, 1);
$color-moss: rgba(117, 142, 79, 1);
$color-apricot: rgba(251, 203, 178, 1);

.ui {
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
                0 4px 6px -2px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    display: inline-block;
    padding: 15px;
    text-align: center;
    z-index: 10;

    &--primary {
        color: $color-beau;
        background: $color-indigo;
        background: linear-gradient(319deg, $color-indigo 0%, $color-indigo-light 100%);
        border: 0;

        h1, h2 {
            color: $color-crayola;
            background: linear-gradient(319deg, $color-apricot 0%, $color-crayola 100%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    &--secondary {
        color: $color-indigo;
        background: $color-apricot;
        background: linear-gradient(319deg, $color-apricot 0%, $color-crayola 100%);
        border-color: $color-indigo;
    }

    &--plain {
        border: 0;
        box-shadow: none;
        color: $color-indigo;
    }

    &--unpadded {
        padding: 0;
    }

    h1, h2 {
        font-size: 36px;
        margin: 0;
    }

    &__menuButton {
        background: none;
        border: none;
        color :$color-indigo;
        cursor: pointer;
        margin-right: 10px;
        padding: 5px;
        width: 34px;
    }
}